<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanty.ispector">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home" />
        <activity android:name=".ScannerGreen" />
        <activity android:name=".ScannerRed" />
         <activity android:name=".ScannerYellow" />
          <activity android:name=".ScannerParent" />
          <activity android:name=".Registration" />
          <activity android:name=".Splash">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity android:name=".ScannerParent1" />
        <activity android:name=".ScannerGreen1" />
        <activity android:name=".ScannerYellow1" />
        <activity android:name=".ScannerRed1" />
        <activity android:name=".ScannerRedTwoWay" />
        <activity android:name=".CheckList" />
        <activity android:name=".ScannerRedTwoWay1" />
        <activity android:name=".Checklist1" />
        <activity android:name=".Login"></activity>



        </activity>
       
    </application>

</manifest>